.indexCSS {
    background-color: lightblue;
}

h1 {
    color: rgb(9, 80, 211);
    font-size: 30pt;
}

.aboutCSS {
    background-color: darkseagreen;
}

.aboutheader {
    color: darkgreen;
    text-align: center;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center p {
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    font-size: 20pt;
}


.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.row {
    padding: 8em;
}
.row1{
    padding-left: 15em;
}
  .column1 {
    float: left;
    width: 42%;
    padding: 5px;
  }


.middle {
    text-align: center;
}

.indexCSS img {
    border-radius: 20pt;
}

.topnav {
    background-color: white;
    overflow: hidden;
}  

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

p{
    font-size: 20pt;
}